html {
  overflow-y:scroll;
}

body	{
  padding-top:50px;
  background-color: #F4F4F4;
}


#page-header-logged {
    float:right;
}
#page-header-notlogged {
    float:right;
}

#sin-form{
  margin-bottom:50px;
}

#sin-item	{
   background-color:#FFFFFF;
   display: block;
   border-radius: 8px;
   padding-bottom: 5%;
   overflow:hidden;
   word-wrap:break-word;
   box-shadow: 1px 1px 8px #888888;
 }

 #sin-text{
   white-space: pre-line;
 }

 #sin-buttons{
    padding: 1%;
 }

 .up {
       color:green;
       opacity:0.6;
}

.up:hover, .down:hover, .trash:hover {
       opacity: 1 !important;
}

.down {
       color:red;
       opacity:0.6;
}

h1{
  color: #8c590c !important;
  font-family: "Great Vibes", cursive;
  font-size: 4em !important;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.angel{
    font-family: 'Indie Flower', cursive;
}

.devil{
    font-family: 'Abril Fatface', cursive;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}