<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="SinPost">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>The Confessional</title>
	<link rel="icon" href="assets/favicon.png" sizes="50x50" type="image/png">

	<link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  	<link rel="stylesheet" href="styles.css">


	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/services/users.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script> <!-- load our main application -->



</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController" ng-init="setOrder('-posted')">
	<div class="container">

	<div ng-show="curruser">
		Hello, <b>{{curruser.local.email}}</b>
	</div>
	<div ng-hide="curruser">
		<i>You must signin to start confessing your sins !</i>
	</div>

	<div id="page-header-logged" ng-show="curruser">
			<a href="/profile" class="btn btn-default btn-sm " >Profile</a>
			<a href="/logout" class="btn btn-default btn-sm ">Logout</a>
	</div>

		<div id="page-header-notlogged" ng-hide="curruser">
			<a href="/login" class="btn btn-default btn-sm " >Login</a>
			<a href="/signup" class="btn btn-default btn-sm ">Signup</a>

	</div>

  <!-- HEADER AND SIN COUNT -->
  <div class="jumbotron text-center">
    <h1>Confess your sins</h1>
    <h2>You are safe here.</h2>
    <h4><span class="label label-info">{{ todos.length }}</span> sins have already ruined this world</h4>
  </div>

		<!-- FORM TO CREATE SINS -->
		<div id="sin-form" class="row" ng-show="curruser">

	  <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
			<div class="col-sm-8 col-sm-offset-1 ">
				<textarea rows="3" class="form-control input-lg" placeholder="I stole a lollipop from my nephew" ng-model="formData.text"></textarea>
			</div>

	  <div class="col-sm-2 text-center" >
		<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Confess !</button>
	  </div>
		</div>
		<!-- createToDo() WILL CREATE NEW SINS -->


<!-- SINS LIST -->



	<ul class="nav nav-tabs">
	  <li ng-class="{'active': order=='-posted'}"><a href="#" ng-click="setOrder('-posted')">Latest sins</a></li>
	  <li ng-class="{'active': order=='-upvotes'}"><a href="#" ng-click="setOrder('-upvotes')">They earned redemption</a></li>
	  <li ng-class="{'active': order=='-downvotes'}"><a href="#" ng-click="setOrder('-downvotes')">Their souls are lost</a></li>
	</ul>

	<div id="sin-list" ng-repeat="sin in todos | orderBy:order" class="row " >

		<!-- LOOP OVER THE SINS IN $scope.todos -->
		<div id=sin-item>
		       <div class="col-sm-9" id=sin-text >
		              {{sin.text}}
		       </div>

		       <div class="col-sm-3 text-right" id="sin-buttons" ng-show="curruser">
				      <span class="angel">You are forgiven, son</span>
				      <span class="glyphicon glyphicon-arrow-up up" id=sin-up ng-show="!ownSin(curruser.sins, sin)" ng-click="upvoteSin(sin._id)"></span>
				      <span>{{sin.upvotes}}</span>
				   <br>
				      <span class="devil">You will burn in hell forever</span>
				      <span class="glyphicon glyphicon-arrow-down down" id=sin-down ng-show="!ownSin(curruser.sins, sin)" ng-click="downvoteSin(sin._id)"></span>
				      <span>{{sin.downvotes}}</span>
				  <br>
		              <span class="glyphicon glyphicon-trash trash" id=sin-trash ng-show="ownSin(curruser.sins, sin)" ng-click="deleteTodo(sin._id)"></span>
		       </div>
		</div>
		<br>
	</div>




	</div>

</body>
</html>
